{% extends "base.html" %}

{% block content %}
  <!----div class="card-wrapper">

    <div class="card">

      <h1 class="center">Create an Account</h1>

      <form name="signup_form">

        <label for="name">Name</label>
        <input type="text" name="name" class="field" required>

        <label for="email">Email</label>
        <input type="email" name="email" class="field" required>

        <label for="password">Password</label>
        <input type="password" name="password" class="field" required>

        <p class="error error--hidden"></p>

        <input type="submit" value="Sign Up" class="btn">
      
      </form>
      
    </div>

    <div class="card">

      <h1 class="center">Log In</h1>

      <form name="login_form">

        <label for="email">Email</label>
        <input type="email" name="email" class="field" required>

        <label for="password">Password</label>
        <input type="password" name="password" class="field" required>

        <p class="error error--hidden"></p>

        <input type="submit" value="Log In" class="btn">
      
      </form>
      
    </div>
  
  </div---->
















  <main>
    <div class="box">
        <div class="inner-box">
            <div class="forms-wrap">
                <form action="index.html" autocomplete="off" class="sign-in-form" name="login_form">
                    <div class="logo">
                        <img src="{{url_for('static', filename = 'images/logo.png')}}" alt="easyclass" />
                        <h4>easyclass</h4>
                    </div>

                    <div class="heading">
                        <h2>Welcome Back</h2>
                        <h6>Not registred yet?</h6>
                        <a href="#" class="toggle">Sign up</a>
                    </div>

                    <div class="actual-form">
                        <div class="input-wrap">
                            <input type="text" minlength="4" name="email" class="input-field" autocomplete="off" required />
                            <label for="name">Email</label>
                        </div>

                        <div class="input-wrap">
                            <input type="password" name="password" minlength="4" class="input-field" autocomplete="off" required />
                            <label for="password">Password</label>
                        </div>

                        <input type="submit" value="Log In" class="sign-btn"/>

                        <p class="text">
                            Forgotten your password or you login datails?
                            <a href="#">Get help</a> signing in
                        </p>
                    </div>
                </form>

                <form action="" autocomplete="off" class="sign-up-form" name="signup_form">
                    <div class="logo">
                        <img src="{{url_for('static', filename = 'images/logo.png')}}" alt="easyclass" />
                        <h4>easyclass</h4>
                    </div>

                    <div class="heading">
                        <h2>Get Started</h2>
                        <h6>Already have an account?</h6>
                        <a href="#" class="toggle">Sign in</a>
                    </div>

                    <div class="actual-form">
                        <div class="input-wrap">
                            <input type="text" minlength="4" class="input-field" autocomplete="off" name="name" required />
                            <label for="name">Name</label>
                        </div>

                        <div class="input-wrap">
                            <input type="email" name="email" class="input-field" autocomplete="off" required />
                            <label for="email">Email</label>
                        </div>

                        <div class="input-wrap">
                            <input type="password" name="password" minlength="4" class="input-field" autocomplete="off" required />
                            <label for="password">Password</label>
                        </div>

                        <input type="submit" value="Sign Up" class="sign-btn" />

                        <p class="text">
                            By signing up, I agree to the
                            <a href="#">Terms of Services</a> and
                            <a href="#">Privacy Policy</a>
                        </p>
                    </div>
                </form>
            </div>

            <div class="carousel">
                <div class="images-wrapper">
                    <img src="{{url_for('static', filename = 'images/image1.png')}}" class="image img-1 show" alt="" />
                    <img src="{{url_for('static', filename = 'images/image2.png')}}" class="image img-2" alt="" />
                    <img src="{{url_for('static', filename = 'images/image3.png')}}" class="image img-3" alt="" />
                </div>

                <div class="text-slider">
                    <div class="text-wrap">
                        <div class="text-group">
                            <h2>Create your own courses</h2>
                            <h2>Customize as you like</h2>
                            <h2>Invite students to your class</h2>
                        </div>
                    </div>

                    <div class="bullets">
                        <span class="active" data-value="1"></span>
                        <span data-value="2"></span>
                        <span data-value="3"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<script src="{{url_for('static', filename = 'js/app.js')}}"></script>

{% endblock %}